.entry {
  display: flex;
  flex-direction: row;
  border: 1px solid lightgray;
  margin: 0 10px 10px 0;
}

.currency, .value {
  padding: 12px 5px;
}

.currency {
  border-right: 1px solid lightgray;
}
